docs/push-daily-digest-onesignal/workflows/n8n-daily-digest-onesignal.json
{
  "name": "ReNomada — Daily digest push (Supabase → OneSignal)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "dd100000-0001-4000-8000-000000000001",
      "name": "Schedule daily 10:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "notesInFlow": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd200001-0001-4000-8000-000000000001",
              "name": "supabase_url",
              "value": "https://YOUR_PROJECT_REF.supabase.co",
              "type": "string"
            },
            {
              "id": "dd200001-0001-4000-8000-000000000002",
              "name": "supabase_service_role_key",
              "value": "PASTE_SUPABASE_SERVICE_ROLE_KEY",
              "type": "string"
            },
            {
              "id": "dd200001-0001-4000-8000-000000000003",
              "name": "onesignal_app_id",
              "value": "YOUR_ONESIGNAL_APP_ID",
              "type": "string"
            },
            {
              "id": "dd200001-0001-4000-8000-000000000004",
              "name": "onesignal_rest_api_key",
              "value": "YOUR_ONESIGNAL_REST_API_KEY",
              "type": "string"
            },
            {
              "id": "dd200001-0001-4000-8000-000000000005",
              "name": "lookback_hours",
              "value": 24,
              "type": "number"
            },
            {
              "id": "dd200001-0001-4000-8000-000000000006",
              "name": "new_item_radius_km",
              "value": 0,
              "type": "number"
            },
            {
              "id": "dd200001-0001-4000-8000-000000000007",
              "name": "notification_title",
              "value": "ReNomada",
              "type": "string"
            },
            {
              "id": "dd200001-0001-4000-8000-000000000008",
              "name": "notification_body",
              "value": "You have new activity in the last day.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "dd100000-0002-4000-8000-000000000002",
      "name": "Workflow config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [260, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.supabase_url.replace(/\\/$/, '') + '/rest/v1/rpc/get_daily_digest_recipients_merged' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.supabase_service_role_key }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.supabase_service_role_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_lookback_hours: Number($json.lookback_hours ?? 24), p_radius_km: Number($json.new_item_radius_km ?? 0) }) }}",
        "options": {}
      },
      "id": "dd100000-0003-4000-8000-000000000003",
      "name": "RPC get_daily_digest_recipients_merged",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const cfg = $('Workflow config').first().json;\n\n/**\n * Supabase REST + n8n HTTP Request often emit either:\n * - one item whose json is the full array [...], or\n * - one item per row (each json is { user_id, ... }).\n * Treating only Array.isArray(first.json) misses the second case.\n */\nfunction normalizeRecipientRows(items) {\n  if (!items.length) return [];\n  const first = items[0].json;\n  if (Array.isArray(first)) return first;\n  if (first && typeof first === 'object' && Array.isArray(first.data)) return first.data;\n  const allObjects = items.every(\n    (i) => i.json && typeof i.json === 'object' && !Array.isArray(i.json),\n  );\n  if (allObjects) return items.map((i) => i.json);\n  return [];\n}\n\nconst rows = normalizeRecipientRows($input.all());\nif (rows.length === 0) {\n  return [{ json: { skip: true, reason: 'no_recipients' } }];\n}\n\nconst seen = new Set();\nconst userIds = [];\nfor (const r of rows) {\n  const id = r && r.user_id;\n  if (!id || seen.has(id)) continue;\n  seen.add(id);\n  userIds.push(String(id));\n}\nif (userIds.length === 0) {\n  return [{ json: { skip: true, reason: 'no_user_ids' } }];\n}\n\nconst body = {\n  app_id: cfg.onesignal_app_id,\n  include_external_user_ids: userIds,\n  headings: { en: cfg.notification_title ?? 'ReNomada' },\n  contents: { en: cfg.notification_body ?? 'You have new activity.' },\n  data: { route: '/feed' },\n};\nreturn [{ json: { skip: false, onesignal_body: body } }];"
      },
      "id": "dd100000-0004-4000-8000-000000000004",
      "name": "Build OneSignal payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dd100000-0005-4000-8000-000000000005",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dd100000-0005-4000-8000-000000000005",
      "name": "Has recipients?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.onesignal.com/notifications",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Key ' + $('Workflow config').first().json.onesignal_rest_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.onesignal_body) }}",
        "options": {}
      },
      "id": "dd100000-0006-4000-8000-000000000006",
      "name": "OneSignal create notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 220]
    },
    {
      "parameters": {
        "content": "## Daily digest — OneSignal\n\n**Schedule:** cron `0 10 * * *` (10:00 every day, timezone = n8n instance).\n\n**Workflow config:** fill `supabase_url`, `supabase_service_role_key`, `onesignal_app_id`, `onesignal_rest_api_key`, optional `lookback_hours` (default 24), `new_item_radius_km` (0 = all users minus owner per item).\n\n**Supabase:** run SQL migrations: `add_push_notification_rpcs.sql` then `add_daily_digest_push_rpcs.sql`.\n\n**App:** OneSignal SDK must set **External User ID** = Supabase `user.id` for each logged-in user.\n\n**Limits:** OneSignal caps batch size for `include_external_user_ids`; split in Code if you exceed their limit.",
        "height": 420,
        "width": 440
      },
      "id": "dd100000-0007-4000-8000-000000000007",
      "name": "Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-40, 40]
    }
  ],
  "connections": {
    "Schedule daily 10:00": {
      "main": [
        [
          {
            "node": "Workflow config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow config": {
      "main": [
        [
          {
            "node": "RPC get_daily_digest_recipients_merged",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC get_daily_digest_recipients_merged": {
      "main": [
        [
          {
            "node": "Build OneSignal payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OneSignal payload": {
      "main": [
        [
          {
            "node": "Has recipients?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has recipients?": {
      "main": [
        [
          {
            "node": "OneSignal create notification",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
